Source: wmbeacons
Section: misc
Priority: extra
Maintainer: Jakob Voss <jakob.voss@gbv.de>
Build-Depends: debhelper (>= 9), carton
Standards-Version: 3.9.2
 
Package: wmbeacons
Architecture: any
Depends: perl-modules (>= 5.10.1), carton
Description: wmbeacons is extracts beacon link dumps from Wikimedia projects
